<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta      
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'unsafe-inline'"
    />
    <title>Electron Tutorial</title>
    <!--bootstrap-->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!--CSS Customizado-->
    <link rel="stylesheet" href="../public/css/style.css">
  </head>
  <link>
  <div class="container">
    <h1>Electron Tutorial</h1>
    <h2>Janela Modal</h2>
    <button onclick="openClild()" id="btnModal"></button>
    <h2 class="mt-3">Dialog</h2>
    <button class="btn btn-info" onclick="info()">Informações</button>
    <button class="btn btn-warning" onclick="warning()">Aviso</button>
    <button class="btn btn-success" onclick="select()">Selecionar</button>
  </div>
    <footer>
      <p id="dataAtual"></p>
    </footer>
    <!--Processo de Renderização-->
    <script src="renderer.js"> </script>
    <!--bootstrap-->
    <script src="../public/js/bootstrap.min.js"> </script>
  </body>
</html>
